@import 'antd/dist/antd.css';

#content {
    height:1000px;
    padding-left: 80px;
    top:60px;
}

#layout {

    margin-left: 90px;

}

#heading-name {
    font-size:100px;
    text-align: center;
    margin-top:230px;
}

#project-cards {
    display: flex;
    justify-content: space-between;
    margin-left:70px;
    text-align:center;
}