@import 'antd/dist/antd.css';

* {
    box-sizing: border-box;
}

#header {
    position: sticky;
    top:0;
    color:#fff;
    float :right;
    overflow: hidden;
    justify-content: space-between;
}

#sticky-top {
    position: sticky;
    top:0;
    z-index: 3;
}

button {
    position: sticky;
    background: transparent;
    top:0;
    right:0;
}

#nav-titles {
    position:sticky;
    margin-top:50px;
}

#nav-titles a {
    padding-top:5px;
}

#sider {
    position:fixed;
    height: 1000px;
    background-color: #fff;
    z-index: 4;
}


#content {
    height:1000px;
}

