.about-buttons {
    display:flex;
    justify-content: space-between;
    position: fixed;
    bottom:2%;
    left:40%;
}

.about-container {
    background-color:#fff;
    height:100vh;
    width:100vw;
}

.about-heading {
    position: absolute;
    top:25%;
    left:25%;
    font-family: 'Cormorant Garamond', serif;
    font-size:30px;
    font-weight:bold;
}

.about-link {
    border: 1px solid #000;
    border-radius: 30px;
    font-family: 'Cormorant Garamond', serif;
    padding:10px;
    margin:30px;
}

.about-link:hover {
    background-color:red;
    color:#fff;
    border: 1px solid red;
    border-radius:30px;
}

.bio {
    position: fixed;
    top:30%;
    left:20%;
    margin:60px;
    font-size:25px;
    background-color:#000;
    color:#fff;
    padding:15px;
    font-family: 'Cormorant Garamond', serif;
    border-radius: 10px;
}


/* @import 'antd/dist/antd.css';


* {
    box-sizing: border-box;
}

.about-container {
    position: fixed;
    top:0;
    justify-content: center;

}

.about-layout {
    position: relative;
    justify-content: center;
    margin-top:50%;
    margin-left: 400px;
}

.bio {
text-align: center;
margin-right:100px;

}

#about-buttons {
    display: flex;
    border-radius: 50%;
    justify-content: space-around;
}

#heading-name {
    font-size:100px;
    text-align: center;
    margin-top:230px;
}


.react-img {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.html-img figure {
    position: relative;
}

.html-img figure::before {
    -webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}

.html-img:hover::before {
    -webkit-animation: circle .75s;
	animation: circle .75s;
} */


/* animation */

/* #skills-title {
    font-size: 100px;
    font-family: 'Cormorant Garamond', serif;
}

#technologies {
    margin:20px;
    display: flex;
    justify-content: space-between;
}

#technologies2 {
    margin:20px;
    display: flex;
    justify-content: space-between;
} */